{% extends 'base.html' %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %} Person {% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block main %}
<div class="container">
    <h4>Resume Form</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.full_name|bootstrap }}
        </div>
        <div class="form-group col-md-6 mb-0">
        {{ form.email|bootstrap }}
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.birth_date|bootstrap }}
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Enviar">
</form>
</div>
{% endblock %}
